<div class="row">
  <div class="seven columns" id="map"></div>
  <div class="five columns">
    <form action="/reviews" method="post" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="address" type="text" class="u-full-width" placeholder="Search">
      </div>
      <button id="address_search" type="button" class="btn btn-default">Search by Address</button>
      <button class="button" type="button" id="geolocate">Use my location</button>
    </form>



    <ul id="list-results"></ul>

    <section class="hidden" id="write-review">
      <h3>Rating from 1-5:</h3>
      <form>
        <fieldset class="u-pull-left">
          <div class="rating">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
          </div>
        </fieldset>
      </form>

      <!-- stars from Lenny Sirivong at http://codepen.io/lsirivong/pen/ekBxI -->
    </section>
  </div>

</div>
