<form class="" action="#" method="post">
  <label for="address">Search by Address</label>
  <input type="text" name="address" placeholder="Enter an address">
  <button type="button" id="geolocate" name="geolocate">Use my location</button>
  <button type="submit" name="button"></button>

</form>
<div id="map"></div>
