<div class="row">
  <div class="seven columns" id="map"></div>
  <div class="five columns">
    <form action="/reviews" method="post" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="address" type="text" class="u-full-width" placeholder="Search">
      </div>
      <button id="address_search" type="button" class="btn btn-default">Search by Address</button>
      <button class="button" type="button" id="geolocate">Use my location</button>
    </form>



    <ul id="list-results"></ul>

    <section class="" id="write-review">
      <h3>Rating from 1-5:</h3>

      <form class="" action="/reviews/postreview" method="post">
        <fieldset class="rating">
          <input type="radio" id="star5" name="stars" value="5" />
          <label class = "full" for="star5"></label>

          <input type="radio" id="star4" name="stars" value="4" />
          <label class = "full" for="star4"></label>

          <input type="radio" id="star3" name="stars" value="3" checked/>
          <label class = "full" for="star3"></label>

          <input type="radio" id="star2" name="stars" value="2" />
          <label class = "full" for="star2"></label>

          <input type="radio" id="star1" name="stars" value="1" />
          <label class = "full" for="star1"></label>

          <input type="hidden" id="place-id" name="place_id" value="">
        </fieldset>
        <button type="submit">go</button>
      </form>

      <!-- <form>
        <fieldset class="u-pull-left">
          <div class="rating">
            <span id="first">☆</span>
            <span id="second">☆</span>
            <span id="third">☆</span>
            <span id="fourth">☆</span>
            <span id="fifth">☆</span>
          </div>
          <input type="hidden" name="stars" value="">
        </fieldset>
      </form> -->
      <!-- <form id="ratingsForm">
        <div class="stars">
          <input type="radio" name="star" class="star-1" id="star-1" />
          <label class="star-1" for="star-1">1</label>
          <input type="radio" name="star" class="star-2" id="star-2" />
          <label class="star-2" for="star-2">2</label>
          <input type="radio" name="star" class="star-3" id="star-3" />
          <label class="star-3" for="star-3">3</label>
          <input type="radio" name="star" class="star-4" id="star-4" />
          <label class="star-4" for="star-4">4</label>
          <input type="radio" name="star" class="star-5" id="star-5" />
          <label class="star-5" for="star-5">5</label>
          <span></span>
        </div>
      </form> -->
    </section>
  </div>

</div>
