$map-width: 500px;
$map-height: 500px;
$color: rgba(0,0,0,0.2);

html, body{
  font-family: 'Vollkorn', serif;
  margin-top: 0;
}

p {
  margin: 0;
}

nav{
  padding-top: 20px;

  a{
    color: black;
    text-decoration: none;
  }
  h3 {
    display: inline-block;
  }

  ul{
    display: inline-block;
  }

  li{
    display: inline-block;
  }
  button{
    float:right;
    margin-left: 2%;
  }

}

#map{
  margin: auto;
  height: $map-height;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#geolocate{
  margin: 8px 0;
}

li{
  list-style-type: none;
}

#list-results{
  height: 320px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  overflow-y: scroll;
}

#list-results div:nth-child(2n){
  background-color: rgba(237, 237, 237, 0.3);
}

.results-item {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 4px;

  p{
    margin: 0;

  }
}

#write-review {
  display: none;
}

// star css courtesy of James Barnett at http://codepen.io/jamesbarnett/pen/vlpkh

fieldset, label { margin: 0; padding: 0; }


.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\2605";
}

.rating > .half:before {
  content: "\2605";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


// end stars
